* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(59, 55, 55);
  color: beige;
  font-family: "Poppins", sans-serif;
}

.banner {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0.75)),
    url("dUyCkp.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 20px;
  width: 130px;
}

.right {
  width: 40%;
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 40px;
  padding: 20px 0;
}

.sign-in {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  color: white;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  margin: 15px;
}

select[name="dropdown"] {
  background: none;
  color: white;
  border: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-weight: 300;
  padding: 100px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

h2 h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.input-mail {
  display: flex;
  width: 60%;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border: 1px transparent black;
}

input[name="email-input"] {
  width: 70%;
  height: 100%;
  padding: 1.2rem;
  margin: 0px;
  border: none;
}

.input:focus {
  outline-color: skyblue;
}

.get-started {
  width: 30%;
  font-size: 200%;
  margin: 0px;
  padding: 7px 0px;
  border: 1px solid red;
  background: #e50914;
  color: white;
}

.cards {
  margin: 10px 0;
  display: flex;

  width: 100%;
  background-color: black;
}

.card-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 7rem;
}

.card2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 600;
}

.card-h1 {
  font-size: 3rem;
  font-weight: 600;
}

.card2 img {
  width: 500px;
  padding-right: 30px;
}

.ques {
  padding: 3rem;
  flex-direction: column;
}
.content-ques {
  padding: 5px;
}
.textcontent {
  background-color: #303030;
  width: 65%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* padding-top: 5px; */
  margin: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
}
.headertext {
  /* border: 2px solid green; */
  width: 100%;
  text-align: center;
  font-size: 3.125rem;
  line-height: 1.1;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 2rem;
  font-weight: 500;
}
.ques-size {
  font-size: 50px;
}
.ques-content {
  width: 90%;
  text-align: start;
  padding-top: 7px;
}

.ques-ans {
  display: none;
  margin-top: -5px;
}
.removeclasser {
  text-align: start;
  padding: 38px;
}

.foot-mailer {
  margin-top: -20px;
  padding: 10px;
  margin: 10px;
}

.footer {
  padding: 3rem;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foo-main {
  width: 70%;
  color: #737373;
}
.fo-links {
  display: flex;
  justify-content: space-between;
}

.fo-links > ul > li {
  list-style: none;
  margin: 10px;
}

.fo-links > ul > li > a {
  text-decoration: none;
  color: #737373;
  margin: 5px;
  font-weight: 400;
  font-size: 13px;
}
.pw {
  font-weight: 400;
}
